@model Projeto_Casa_Criancas.Models.Professor

@{
    ViewData["Title"] = "Detalhes do Professor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="bi bi-person-lines-fill"></i>&nbsp;Detalhes do Professor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <i class="bi bi-person-fill"></i>&nbsp;Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt class="col-sm-2">
            <i class="bi bi-person-vcard-fill"></i>&nbsp;CPF
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt class="col-sm-2">
            <i class="bi bi-house-door-fill"></i>&nbsp;Endereço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>

        <dt class="col-sm-2">
            <i class="bi bi-phone-fill"></i>&nbsp;Celular
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.celular)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
        <i class="bi bi-pencil-fill"></i>&nbsp;Editar
    </a>
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left-circle"></i>&nbsp;Voltar para a Lista
    </a>
</div>
