@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Redefinir chave do autenticador";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se você redefinir sua chave do autenticador, seu aplicativo de autenticação não funcionará até que você o reconfigure.</strong>
    </p>
    <p>
        Esse processo desabilita a autenticação de dois fatores (2FA) até que você verifique seu aplicativo de autenticação.
        Se você não concluir a configuração do seu aplicativo de autenticação, poderá perder o acesso à sua conta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Redefinir chave</button>
    </form>
</div>
