@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registro";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<h1>@ViewData["Title"]</h1>

@if (Model.DisplayConfirmAccountLink)
{
    <p>
        <a id="confirm-link" class="btn btn-primary" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar seu email e entrar</a>
    </p>
}
else
{
    <p>
        Por favor, verifique seu e-mail para confirmar sua conta.
    </p>
}
