@model Projeto_Casa_Criancas.Models.Curso

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Detalhes do Curso";
}

<h1><i class="bi bi-person-lines-fill"></i>&nbsp;Detalhes do Curso</h1>

<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            <i class="bi bi-person-fill"></i>&nbsp;Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt class = "col-sm-2">
            <i class="bi bi-file-earmark-text-fill"></i>&nbsp;Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt class = "col-sm-2">
            <i class="bi bi-person-vcard"></i>&nbsp;ColaboradorID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.colaborador.nome)
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
        <i class="bi bi-pencil-fill"></i>&nbsp;Editar
    </a>
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left-circle"></i>&nbsp;Voltar para a Lista
    </a>
</div>
