@model Projeto_Casa_Criancas.Models.Turma

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Adicionar Turma";
}

<h1><i class="bi bi-person-plus-fill"></i>&nbsp;Adicionar Turma</h1>

<hr />
<div class="col-md-4">
    <form method="post" asp-action="Create">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="cursoID">Curso</label>
            <select asp-for="cursoID" class="form-control" asp-items="ViewBag.cursoID"></select>
        </div>

        <div class="form-group">
            <label for="monitorID">Monitor</label>
            <select asp-for="monitorID" class="form-control" asp-items="ViewBag.monitorID"></select>
        </div>

        <div class="form-group">
            <label for="professorID">Professor</label>
            <select asp-for="professorID" class="form-control" asp-items="ViewBag.professorID"></select>
        </div>
        <div class="form-group">
            <label for="horarioDasAulasID">Horário das Aulas</label>
            <select asp-for="horarioDasAulasID" class="form-control" asp-items="ViewBag.HorarioDasAulasID"></select>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" asp-for="descricao" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
